---
import Footer from '../components/Footer.astro';
import Encabezado from '../components/Encabezado.astro';
import '../styles/global.css';
const pageTitle ="Sobre mi";
const identity = {
  firstName: "David",
  country: "España",
  occupation: "Front End Developer",
  hobbies: ["Leer", "Videojuegos", "Modelar en 3D"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About Me</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Encabezado />
    <h1>{pageTitle}</h1>
    
      <p>He aquí algunos datos sobre mí:</p>
      <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && //Si es mayor de dos se ejecuta, si no no, el && es una ejecución. También funciona con true y false.
          <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        }
      </ul>
      <p>Mis habilidades son:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
      {happy && <p>¡Estoy feliz de aprender Astro!</p>}

      {finished && <p>¡He terminado este tutorial!</p>}

      {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>} // Si secumple se ejecuta lo que va después de la interrogación, y si no se ejecuta lo que viene desoues de los dos puntos.
      <Footer />
    </body>
</html>
